@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap");

.gameover {
  margin: auto;
  font-family: sans-serif;
  font-size: 15px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  background-color: #264653;
  color: whitesmoke;
  width: 300px;
  height: 200px;
  z-index: 1000;
}

p.message {
  font-size: 45px;
  margin: 5px;
}

.new {
  animation-name: new;
  animation-duration: 0.5s;
  transition-duration: 0.1s;
  animation-delay: 100ms;
}
.slide {
  animation: slide 1s;
}
body {
  font-family: "open sans", sans-serif;
  background-color: #e76f51;
  text-align: center;
  min-width: 500px;
  overscroll-behavior: contain;
}

h1,
h2 {
  font-family: "montserrat", sans-serif;
}

p.heading {
  color: whitesmoke;
  width: 400px;
  text-align: left;
  font-style: italic;
  margin: 0 auto 10px auto;
}

p.info {
  color: whitesmoke;
  width: 400px;
  text-align: justify;
  margin: 0 auto 0 auto;
}

div.header {
  margin: auto auto;
  width: 500px;
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 50px;
  margin: 0 134px 0 44px;
}

#score {
  display: inline-block;
  text-align: start;
  min-width: 100px;
  box-sizing: border-box;
  color: whitesmoke;
}

#board {
  width: 400px;
  height: 400px;
  background-color: #264653;
  margin: 0 auto 10px auto;
  border: 6px solid #264653;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}
#slideleft {
  animation: slideleft;
}
@keyframes new {
  0% {
    position: relative;
    top: -5px;
    left: -5px;
    width: 110px;
    height: 110px;
    z-index: 1000;
  }
  100% {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    z-index: 5;
  }
}
@keyframes slideright {
  100% {
    position: relative;
    right: 0px;
  }
  0% {
    position: relative;
    right: var(--bs, 0px);
  }
}
@keyframes slideleft {
  100% {
    position: relative;
    left: 0px;
  }
  0% {
    position: relative;
    left: var(--bs, 0px);
  }
}
@keyframes slidedown {
  100% {
    position: relative;
    bottom: 0px;
  }
  0% {
    position: relative;
    bottom: var(--bs, 0px);
  }
}
@keyframes slideup {
  100% {
    position: relative;
    top: 0px;
  }
  0% {
    position: relative;
    top: var(--bs, 0px);
  }
}
.tile {
  width: 100px;
  height: 100px;
  border: 5px solid #264653;
  border-radius: 10px;
  background-color: #2a9d8f;
  box-sizing: border-box;
  display: block;
  padding: 25px 0px 0px 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: whitesmoke;
}

.x2 {
  background-color: #eee4da;
  color: #727371;
}

.x4 {
  background-color: #ece0ca;
  color: #727371;
}

.x8 {
  background-color: #f4b17a;
  color: white;
}

.x16 {
  background-color: #f59575;
  color: white;
}

.x32 {
  background-color: #f57c5f;
  color: white;
}

.x64 {
  background-color: #f65d3b;
  color: white;
}

.x128 {
  background-color: #edce71;
  color: white;
}

.x256 {
  background-color: #edcc63;
  color: white;
  box-shadow: rgb(255, 255, 59);
}

.x512 {
  background-color: #edc651;
  color: white;
}

.x1024 {
  background-color: #eec744;
  color: white;
  font-size: 28px;
}

.x2048 {
  background-color: #ecc230;
  color: white;
  font-size: 28px;
}

.x4096 {
  background-color: #fe3d3d;
  color: white;
  font-size: 28px;
}

.x8192 {
  background-color: #ff2020;
  color: white;
  font-size: 28px;
}

#reset {
  margin: 10px auto;
  width: fit-content;
  border: solid 4px #264653;
  border-radius: 10px;
  padding: 5px;
  background-color: #ecc230;
  font-family: "montserrat", sans-serif;
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
