@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap");

body {
  font-family: "open sans", sans-serif;
  background-color: #faf8ef;
  text-align: center;
}

h1,
h2 {
  font-family: "montserrat", sans-serif;
}

h1 {
  margin: 0 200px 0 0;
}

div.header {
  padding: 50px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  width: 400px;
  height: 400px;

  margin: 0 auto;
  border: 5px solid #264653;
  display: flex;
  flex-wrap: wrap;
}

.tiles {
  width: 90px;
  height: 90px;
  border: 5px solid #264653;
  background-color: #2a9d8f;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;

  color: whitesmoke;
}
