#cont {
  font-size: 16px;
  height: 40px;
}

.gameover {
  margin: auto;
  font-family: sans-serif;
  font-size: 15px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  background-color: #264653;
  color: whitesmoke;
  width: 300px;
  height: 200px;
  z-index: 1000;
  box-sizing: border-box;
}

p.message {
  font-size: 45px;
  margin: 5px;
}
